version: "3"

services:
  service:
    build:
      context: ./
      dockerfile: Dockerfile
    restart: always
    container_name: service
    env_file:
      - .env
    ports:
      - "8080:${HTTP_PORT}"